
<!-- Page Content -->
<div id="page-wrapper">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Login</h1>
			</div>
			<!-- /.col-lg-12 -->
			<div class="col-lg-12">
				<form class="form-signin">
					<h2 class="form-signin-heading">Please Sign In</h2>
					<label for="inputUser" class="sr-only">Email address</label>
					<input type="text" id="inputUser" class="form-control" placeholder="Username" ng-model="credentials.username" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me">Remember me
						</label>
					</div>
				</form>
				<button type="button" class="btn btn-lg btn-primary btn-block" id="mybtn" ng-click="submit(credentials)">Sign In</button>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
